@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v10/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.App {
  text-align: center;
  overflow-y: auto;
  min-height: 100vh;
  max-width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sm-container {
  border: 1px solid;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.updating-cell {
  // max-width: 8rem;
}

.small-input {
  max-width: 50px !important;
  margin-bottom: 0;
}

.btn {
  // padding-left: 1rem;
  // padding-right: 1rem;
}


.size-chart-row {
  td, th {
    padding: 0px 5px !important;
    &.viewing-cell:hover {
      background-color: #bababa;
      cursor: pointer;
    }
  }
}


.create-size-matrix {
  .btns {
    padding-top: 20px;

    .cancel {
      margin-left: 5px;
    }
  }


  .error-or-success {
    color: red;
    font-weight: bold;
  }
}


.view-add-new {
  .btn {
    text-transform: capitalize;

  }
}

.toast-container {
  top: 65px;
  left: 100%;
  transform: translateX(50%);

  .toast {
    line-height: 1.5em;
    font-size: 1.1rem;
    font-weight: 300;
    border-radius: 2px;
    color: fff;
    background-color: #323232;
    padding: 10px 25px;
    min-height: 48px;
    height: auto;
    width: auto;
    margin-top: 10px;
    position: relative;
    top: 35px;
  }
}
